@charset "UTF-8"

@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

@font-face {
    font-family: 'Android';
    src: url('fontes/idroid.otf') format('opentype');
}
:root {
    --cor0: #ebe5c5;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Fjalla One', sans-serif;
    --fonte-android: 'Android', sans-serif;
}


/*Toda a parte do cabeçalho estará nessa parte*/

header {
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor4));
    padding: 24px 24px 10px 5px;
    color: white;
    font-family: var(--fonte-padrao);
    text-align: center;
}

header p {
    color: rgb(221, 221, 221);
    font-size: 14px;
}

#titulosite {
    font-family: var(--fonte-destaque);
    text-align: center;
    font-size: 40px;
    color: #ffffff;
    text-shadow: 2px 0px 2px #3d3d3d;
}

nav {
    text-align: justify;
    color: rgb(146, 223, 187);
    padding-left: 10px;
    padding-top: 10px;
    font-weight: bold;
    font-size: small;
}

nav > a {
    padding: 10px;
    transition-duration: 0.5s;
}

nav a:link {
    text-decoration: none;
}

nav a:visited {
    color: rgb(255, 255, 255);
}

nav a:hover {
    color: var(--cor5);
    text-decoration: none;
    background-color: #288f56;
    box-shadow: rgb(141, 140, 140) 10px;
    border-radius: 3px;
}

nav > a:active {
    color: #1a5c37;
}

/*Toda parte do body e main estará aqui*/

body {
    background-color: var(--cor1);
    margin: auto;
}

main {
    background-color: white;
    margin: auto;
    margin-bottom: 20px;
    min-width: 300px;
    max-width: 930px;
    box-shadow: rgba(0, 0, 0, 0.504) 0px 0px 5px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-family: var(--fonte-padrao);
    font-size: 14px;
}

main h2.titulocorpo {
    font-family: var(--fonte-android);
    color: var(--cor4);
    margin-top: 20px;
    padding-top: 20px;
    margin: auto;
    text-indent: 1em;
}

.subtitulos {
    font-family: var(--fonte-android);
    background-image: linear-gradient(to right, #83e1ad93, transparent);
    margin-left: 20px;
    color:#1a5c37;
    padding: 5px;
}

.paragrafoscorpo {
    text-align: justify;
    padding: 0px 20px 0px 20px;
    text-indent: 2em;
    line-height: 1.5em;
} 

main strong {
    color: var(--cor4);
    font-weight: bold;
}

picture.dandroid {
    display: block;
    margin: auto;
    text-align: center;
}

img.pequena {
    display: block;
    margin: auto;
    width: 50%;
}

picture.irina {
    display: block;
    margin: 0px auto;
    text-align: center;
}

main div.video {
    display: flex;
    justify-content: center;
    background-color: #063d1e;
    margin: auto;
    padding-top: 2%;
    padding-bottom: 2%;
    position: relative;
}

/* Conteúdo extra - essa parte é para ficar dentro de um aside heheh */

main div {
    display: inline-block;
    list-style-type: disc;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    padding: auto;
}

main div.extra {
    background-color: #bde2ce;
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

main h4 {
    background-color: var(--cor3);
    font-family: var(--fonte-padrao);
    color: white;
    margin: auto;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

ul {
    list-style: none;
}
  
ul li:before {
    content: '✔';
}

main p.extra {
    text-align: center;
    text-indent: 2em;
    padding-bottom: 15px;
}

/*Links do corpo*/

main a {
    text-decoration: none;
    font-weight: bold;
    color: var(--cor5);
    background-color: var(--cor0);
    padding: 2px;
}

main a:link {
    text-decoration: none;
    color: #3ddc84;
}

main a:active {
    color: #30a764;
}

main a:hover {
    color: #34a766;
    text-decoration: underline;
}

main a:visited {
    color: #34ae69;

}

/* Todo o conteúdo de rodapé */

footer {
    background-color: var(--cor5);
    font-family: var(--fonte-padrao);
    text-align: center;
    color: white;
    font-size: 12px;
    padding: 5px;
}